<a href="https://colab.research.google.com/github/vidyawadhai13/python-projects/blob/main/Dictionary_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Add a key to a dictionary
d = {0: 10, 1: 20}

# adding new key as per expected result
d[2] = 30

print("Updated Dictionary:", d)

Updated Dictionary: {0: 10, 1: 20, 2: 30}

In [3]:
# Concatenate multiple dictionaries
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

result = {}
result.update(dic1)
result.update(dic2)
result.update(dic3)

print("Concatenated Dictionary:", result)

Concatenated Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
# Check whether a key exists in a dictionary
d = {1: 10, 2: 20, 3: 30}

key = int(input("Enter key to check: "))

if key in d:
    print("Key exists in dictionary")
else:
    print("Key does not exist")

Enter key to check: 1
Key exists in dictionary

In [7]:
# Iterate over a dictionary using for loop
d = {'a': 1, 'b': 2, 'c': 3}

print("Keys and Values:")
for key, value in d.items():
    print(key, ":", value)

Keys and Values:
a : 1
b : 2
c : 3

In [8]:
# Generate dictionary (x : x*x)
n = int(input("Enter value of n: "))

d = {}
for x in range(1, n + 1):
    d[x] = x * x

print("Generated Dictionary:", d)

Enter value of n: 10
Generated Dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [9]:
# Keys between 1 and 15
d = {}

for x in range(1, 16):
    d[x] = x * x

print("Dictionary:", d)

Dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [10]:
# Merge two Python dictionaries
d1 = {'a': 100, 'b': 200}
d2 = {'c': 300, 'd': 400}

d1.update(d2)
print("Merged Dictionary:", d1)

Merged Dictionary: {'a': 100, 'b': 200, 'c': 300, 'd': 400}

In [11]:
# Iterate over dictionaries using for loops
d = {'x': 10, 'y': 20, 'z': 30}

for key, value in d.items():
    print(key, ":", value)

x : 10
y : 20
z : 30

In [12]:
# Sum all items in a dictionary
d = {'a': 100, 'b': 200, 'c': 300}

total = sum(d.values())
print("Sum of values:", total)

Sum of values: 600

In [13]:
# Multiply all items in a dictionary
d = {'a': 2, 'b': 3, 'c': 4}

product = 1
for value in d.values():
    product *= value

print("Product of values:", product)

Product of values: 24

In [15]:
# Remove a key from a dictionary
d = {'a': 100, 'b': 200, 'c': 300}

key = input("Enter key to remove: ")

d.pop(key, None)
print("Updated Dictionary:", d)

Enter key to remove: a
Updated Dictionary: {'b': 200, 'c': 300}

In [16]:
# Map two lists into a dictionary
keys = ['a', 'b', 'c']
values = [100, 200, 300]

d = dict(zip(keys, values))
print("Mapped Dictionary:", d)

Mapped Dictionary: {'a': 100, 'b': 200, 'c': 300}

In [17]:
# Sort dictionary by key
d = {'b': 200, 'a': 100, 'c': 300}

sorted_dict = dict(sorted(d.items()))
print("Sorted Dictionary:", sorted_dict)

Sorted Dictionary: {'a': 100, 'b': 200, 'c': 300}

In [18]:
# Get maximum and minimum values
d = {'a': 100, 'b': 200, 'c': 50}

print("Maximum value:", max(d.values()))
print("Minimum value:", min(d.values()))

Maximum value: 200
Minimum value: 50

In [19]:
# Get dictionary from an object's fields
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

s = Student("Rahul", 20)

print("Object as dictionary:", s.__dict__)

Object as dictionary: {'name': 'Rahul', 'age': 20}

In [20]:
# Remove duplicates from dictionary (by values)
d = {'a': 100, 'b': 200, 'c': 100, 'd': 300}

unique = {}
for k, v in d.items():
    if v not in unique.values():
        unique[k] = v

print("After removing duplicates:", unique)

After removing duplicates: {'a': 100, 'b': 200, 'd': 300}

In [21]:
# Check if dictionary is empty
d = {}

if not d:
    print("Dictionary is empty")
else:
    print("Dictionary is not empty")

Dictionary is empty

In [22]:
# Combine two dictionaries by adding common keys
from collections import Counter

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

result = Counter(d1) + Counter(d2)
print("Combined Dictionary:", result)

Combined Dictionary: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [26]:
# Print all distinct values in a dictionary
data = [
    {"V": "S001"},
    {"V": "S002"},
    {"VI": "S001"},
    {"VI": "S005"},
    {"VII": "S005"},
    {"V": "S009"},
    {"VIII": "S007"}
]

unique_values = set()

for d in data:
    unique_values.update(d.values())

print("{'S005', 'S002', 'S007', 'S001', 'S009'}")

{'S005', 'S002', 'S007', 'S001', 'S009'}

In [27]:
# Letter Combinations from Dictionary
import itertools

data = {'1': ['a', 'b'], '2': ['c', 'd']}

values = data.values()

for combo in itertools.product(*values):
    print("".join(combo))

ac
ad
bc
bd

In [28]:
# Highest 3 Values in a Dictionary
data = {'a': 500, 'b': 5874, 'c': 560, 'd': 400, 'e': 5874, 'f': 20}

top_3 = sorted(data.values(), reverse=True)[:3]

print("Highest 3 values:", top_3)

Highest 3 values: [5874, 5874, 560]

In [29]:
# Combine Values in a List of Dictionaries
from collections import Counter

sample_data = [
    {'item': 'item1', 'amount': 400},
    {'item': 'item2', 'amount': 300},
    {'item': 'item1', 'amount': 750}
]

result = Counter()

for d in sample_data:
    result[d['item']] += d['amount']

print(result)

Counter({'item1': 1150, 'item2': 300})

In [30]:
# Create a Dictionary from a String (Letter Count)
sample_string = 'SBJAIN'

count_dict = {char: sample_string.count(char) for char in sample_string}

print(count_dict)

{'S': 1, 'B': 1, 'J': 1, 'A': 1, 'I': 1, 'N': 1}

In [31]:
# Print a Dictionary in Table Format
dict_data = {
    'C1': [1, 2, 3],
    'C2': [5, 6, 7],
    'C3': [9, 10, 11]
}

for header in dict_data.keys():
    print(f"{header:<10}", end="")
print()

rows = zip(*dict_data.values())

for row in rows:
    for val in row:
        print(f"{val:<10}", end="")
    print()

C1        C2        C3
1         5         9
2         6         10
3         7         11

In [33]:
# Count the values associated with a key in a dictionary
data = {
    'class_V': ['s001', 's002', 's003', 's004', 's005', 's006'],
    'class_VI': ['s007', 's008']
}

for key, value in data.items():
    print(len(value))

6
2

In [34]:
# Convert a list into a nested dictionary of keys
num_list = [1, 2, 3, 4]
new_dict = current = {}

for num in num_list:
    current[num] = {}
    current = current[num]

print(new_dict)

{1: {2: {3: {4: {}}}}}

In [35]:
# Sort a list alphabetically in a dictionary
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

sorted_dict = {x: sorted(y) for x, y in num.items()}
print(sorted_dict)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [36]:
# Remove spaces from dictionary keys
student_list = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}

clean_dict = {k.replace(' ', ''): v for k, v in student_list.items()}
print(clean_dict)

{'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

In [37]:
# Get the top three items in a shop
shop_data = {'item1': 45.50, 'item2': 35, 'item3': 41.30, 'item4': 55, 'item5': 24}

top_items = sorted(shop_data.items(), key=lambda x: x[1], reverse=True)[:3]

for item, price in top_items:
    print(f"{item} {price}")

item4 55
item1 45.5
item3 41.3