<a href="https://colab.research.google.com/github/vidyawadhai13/python-projects/blob/main/List_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Largest number from a list
numbers = list(map(int, input("Enter numbers separated by space: ").split()))

largest = max(numbers)
print("Largest number is:", largest)

Enter numbers separated by space: 1 2 3
Largest number is: 3

In [ ]:
# Print list after removing even numbers
numbers = list(map(int, input("Enter numbers separated by space: ").split()))

result = [num for num in numbers if num % 2 != 0]
print("List after removing even numbers:", result)

Enter numbers separated by space: 5 6 4 7 8 9
List after removing even numbers: [5, 7, 9]

In [ ]:
# Reverse a list
numbers = list(map(int, input("Enter numbers separated by space: ").split()))

numbers.reverse()
print("Reversed list:", numbers)

Enter numbers separated by space: 5 6 8 9 4
Reversed list: [4, 9, 8, 6, 5]

In [ ]:
# Square each element of a list
numbers = list(map(int, input("Enter numbers separated by space: ").split()))

squared = [num ** 2 for num in numbers]
print("Squared list:", squared)

Enter numbers separated by space: 1 4 3 8 7 2
Squared list: [1, 16, 9, 64, 49, 4]

In [ ]:
# Remove empty element from a list
num = ["Hello", 34, 45, "", 40]

result = [item for item in num if item != ""]
print("Result:", result)

Result: ['Hello', 34, 45, 40]

In [ ]:
# Display items divisible by 5
numbers = list(map(int, input("Enter numbers separated by space: ").split()))

result = [num for num in numbers if num % 5 == 0]
print("Numbers divisible by 5:", result)

Enter numbers separated by space: 10 15 45 82 64 20
Numbers divisible by 5: [10, 15, 45, 20]

In [ ]:
# Remove repetitive items from a list
num = [2, 3, 4, 5, 2, 6, 3, 2]

result = list(set(num))
result.sort()
print("Result:", result)

Result: [2, 3, 4, 5, 6]

In [ ]:
# Append second list to first list
list1 = [23, 24, 25, 26]
list2 = [27, 28, 29, 30]

list1.extend(list2)
print("Result:", list1)

Result: [23, 24, 25, 26, 27, 28, 29, 30]

In [1]:
# Filter odd and even numbers from a list
numbers = [2, 23, 24, 51, 46, 67]

even = [num for num in numbers if num % 2 == 0]
odd = [num for num in numbers if num % 2 != 0]

print("Even", even)
print("Odd", odd)

Even [2, 24, 46]
Odd [23, 51, 67]

In [2]:
# Arrange elements in sorted order
numbers = list(map(int, input("Enter numbers separated by space: ").split()))

numbers.sort()
print("Sorted list:", numbers)

Enter numbers separated by space: 1 4 7 8 5 2
Sorted list: [1, 2, 4, 5, 7, 8]

In [3]:
# Count number of items in a list
numbers = list(map(int, input("Enter numbers separated by space: ").split()))

count = len(numbers)
print("Number of items in the list:", count)

Enter numbers separated by space: 9 6 3 2 5 8
Number of items in the list: 6

In [4]:
# Reverse list without using built-in functions (indexing method)
characters = ['a', 'b', 'c', 'd', 'e']

reversed_list = []
for i in range(len(characters)-1, -1, -1):
    reversed_list.append(characters[i])

print("Reversed list:", reversed_list)

Reversed list: ['e', 'd', 'c', 'b', 'a']

In [5]:
# Add item 7000 after 6000 in nested list
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)

print("Updated list:", list1)

Updated list: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [6]:
# Replace first occurrence of 20 with 200
list1 = [5, 10, 15, 20, 25, 50, 20]

if 20 in list1:
    index = list1.index(20)
    list1[index] = 200

print("Updated list:", list1)

Updated list: [5, 10, 15, 200, 25, 50, 20]

In [7]:
# Find range (difference between largest and smallest element)
numbers = list(map(int, input("Enter numbers separated by space: ").split()))

largest = max(numbers)
smallest = min(numbers)

range_value = largest - smallest

print("Range of the list:", range_value)

Enter numbers separated by space: 8 5 4 1 3 6
Range of the list: 7

In [8]:
# Insert a new element at a specific position in the list
# Create list
nums = [10, 20, 30, 40, 50]

# Input from user
pos = int(input("Enter position (0-based index): "))
element = int(input("Enter element to insert: "))

# Insert element
nums.insert(pos, element)

print("Updated list:", nums)

Enter position (0-based index): 2
Enter element to insert: 52
Updated list: [10, 20, 52, 30, 40, 50]

In [9]:
# Find the common elements between two lists
# (a)
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]

common = list(set(list1) & set(list2))

print("Common elements:", common)

Common elements: [4, 5]

In [10]:
# (b)
list1 = list(map(int, input("Enter first list elements: ").split()))
list2 = list(map(int, input("Enter second list elements: ").split()))

common = list(set(list1) & set(list2))

print("Common elements:", common)

Enter first list elements: 4 5 6 7 8
Enter second list elements: 4 3 6 8
Common elements: [8, 4, 6]

In [13]:
# Find the second smallest element
nums = list(map(int, input("Enter list elements: ").split()))

unique_nums = list(set(nums))
unique_nums.sort()

if len(unique_nums) >= 2:
    print("Second smallest element:", unique_nums[1])
else:
    print("Not enough elements")

Enter list elements: 4 5 6
Second smallest element: 5

In [14]:
# Remove elements at even indices
nums = list(map(int, input("Enter list elements: ").split()))

result = [nums[i] for i in range(len(nums)) if i % 2 != 0]

print("List after removing even index elements:", result)

Enter list elements: 20 10 30
List after removing even index elements: [10]

In [15]:
# Sum of elements at odd indices
nums = list(map(int, input("Enter list elements: ").split()))

sum_odd_index = sum(nums[i] for i in range(len(nums)) if i % 2 != 0)

print("Sum of elements at odd indices:", sum_odd_index)

Enter list elements: 12 14 16 18
Sum of elements at odd indices: 32