<a href="https://colab.research.google.com/github/vidyawadhai13/python-projects/blob/main/Tuple_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Create a tuple with three elements
t = (10, "hello", 3.14)
print(t)

(10, 'hello', 3.14)

In [2]:
# Access and print the third element
t = (1, 2, 3, 4, 5)
print("Third element:", t[2])

Third element: 3

In [3]:
# Concatenate two tuples
t1 = (1, 2, 3)
t2 = (4, 5, 6)

result = t1 + t2
print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [4]:
# Unpack the tuple into variables
t = ('a', 'b', 'c')
x, y, z = t

print(x, y, z)

a b c

In [5]:
# Check if element 7 exists
t = (1, 3, 5, 7, 9)

if 7 in t:
    print("7 exists in tuple")
else:
    print("7 does not exist")

7 exists in tuple

In [6]:
# Print slice from index 2 to 4
t = (0, 1, 2, 3, 4, 5)
print("Sliced tuple:", t[2:5])

Sliced tuple: (2, 3, 4)

In [7]:
# Find the length of the tuple
t = (10, 20, 30, 40, 50)
print("Length:", len(t))

Length: 5

In [8]:
# Repeat tuple three times
t = (1, 2, 3)
print("Repeated tuple:", t * 3)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [9]:
# Convert list to tuple
lst = [1, 2, 3]
t = tuple(lst)

print("Tuple:", t)

Tuple: (1, 2, 3)

In [10]:
# Find minimum and maximum
t = (5, 12, 3, 8, 15)

print("Minimum:", min(t))
print("Maximum:", max(t))

Minimum: 3
Maximum: 15

In [11]:
# Count occurrences of element 2
t = (1, 2, 3, 2, 4, 2)
print("Count of 2:", t.count(2))

Count of 2: 3

In [13]:
# Check if all elements are True
t = (True, True, False)

if all(t):
    print("All elements are True")
else:
    print("Not all elements are True")

Not all elements are True

In [14]:
# Find index of first occurrence of 3
t = (1, 2, 3, 4, 3, 5)

print("Index of first 3:", t.index(3))

Index of first 3: 2

In [15]:
# Sort tuple and store in new tuple
t = (5, 2, 8, 1, 3)

sorted_t = tuple(sorted(t))
print("Sorted tuple:", sorted_t)

Sorted tuple: (1, 2, 3, 5, 8)

In [16]:
# Tuple of squares from 1 to 5
t = tuple(i*i for i in range(1, 6))
print("Squares tuple:", t)

Squares tuple: (1, 4, 9, 16, 25)

In [17]:
# Python program to create a tuple (user input)
nums = tuple(map(int, input("Enter elements: ").split()))
print("Tuple:", nums)

Enter elements: 24 25 26
Tuple: (24, 25, 26)

In [18]:
# Tuple with different data types
t = (10, "Python", 3.14, True)
print("Tuple with different data types:", t)

Tuple with different data types: (10, 'Python', 3.14, True)

In [19]:
# Tuple of numbers and print one item
t = (10, 20, 30, 40)

index = int(input("Enter index to print: "))
print("Element:", t[index])

Enter index to print: 3
Element: 40

In [20]:
# Unpack tuple into several variables
t = (100, 200, 300)

a, b, c = t
print("a =", a)
print("b =", b)
print("c =", c)

a = 100
b = 200
c = 300

In [24]:
# Add an item to a tuple
t = tuple(map(int, input("Enter tuple elements: ").split()))
item = int(input("Enter item to add: "))

t = t + (item,)
print("Updated tuple:", t)

Enter tuple elements: 12 14 15 16
Enter item to add: 20
Updated tuple: (12, 14, 15, 16, 20)

In [25]:
# Convert a tuple to a string
t = tuple(input("Enter characters separated by space: ").split())

s = ''.join(t)
print("String:", s)

Enter characters separated by space: p y t h o n
String: python

In [26]:
# Get the 4th element from the last
t = tuple(map(int, input("Enter tuple elements: ").split()))

if len(t) >= 4:
    print("4th element from last:", t[-4])
else:
    print("Tuple has less than 4 elements")

Enter tuple elements: 4 5 6 1 2
4th element from last: 5

In [27]:
# Clone (copy) a tuple
t1 = tuple(map(int, input("Enter tuple elements: ").split()))
t2 = t1[:]

print("Original:", t1)
print("Cloned:", t2)

Enter tuple elements: 10 20 30 40
Original: (10, 20, 30, 40)
Cloned: (10, 20, 30, 40)

In [28]:
# Find repeated items in a tuple
t = tuple(map(int, input("Enter tuple elements: ").split()))

repeated = set([x for x in t if t.count(x) > 1])
print("Repeated items:", repeated)

Enter tuple elements: 20 30 20 30 40 50 60
Repeated items: {20, 30}

In [29]:
# Check whether an element exists
t = tuple(map(int, input("Enter tuple elements: ").split()))
item = int(input("Enter element to search: "))

if item in t:
    print("Element exists")
else:
    print("Element does not exist")

Enter tuple elements: 15 25 30 35 40
Enter element to search: 25
Element exists

In [30]:
# Convert a list to a tuple
lst = list(map(int, input("Enter list elements: ").split()))
t = tuple(lst)

print("Tuple:", t)

Enter list elements: 15 20 25 30 25
Tuple: (15, 20, 25, 30, 25)

In [32]:
# Remove an item from a tuple
t = tuple(map(int, input("Enter tuple elements: ").split()))
item = int(input("Enter element to remove: "))

temp = list(t)
if item in temp:
    temp.remove(item)

t = tuple(temp)
print("Updated tuple:", t)

Enter tuple elements: 10 20 30 40 50
Enter element to remove: 30
Updated tuple: (10, 20, 40, 50)

In [34]:
# Slice a tuple
t = tuple(map(int, input("Enter tuple elements: ").split()))

start = int(input("Enter start index: "))
end = int(input("Enter end index: "))

print("Sliced tuple:", t[start:end])

Enter tuple elements: 10 20 70 80 90 50
Enter start index: 1
Enter end index: 3
Sliced tuple: (20, 70)

In [36]:
# Find the index of an item
t = tuple(map(int, input("Enter tuple elements: ").split()))
item = int(input("Enter element to find index: "))

if item in t:
    print("Index:", t.index(item))
else:
    print("Element not found")

Enter tuple elements: 13 26 39 48
Enter element to find index: 26
Index: 1

In [37]:
# Find the length of a tuple
t = tuple(map(int, input("Enter tuple elements: ").split()))
print("Length:", len(t))

Enter tuple elements: 12 24 36 48
Length: 4

In [38]:
# Convert a tuple to a dictionary
n = int(input("Enter number of key-value pairs: "))
lst = []

for _ in range(n):
    k = input("Enter key: ")
    v = input("Enter value: ")
    lst.append((k, v))

t = tuple(lst)
d = dict(t)

print("Dictionary:", d)

Enter number of key-value pairs: 2
Enter key: 20 30 40
Enter value: 23
Enter key: 2
Enter value: 23
Dictionary: {'20 30 40': '23', '2': '23'}

In [39]:
# Unzip a list of tuples
n = int(input("Enter number of tuples: "))
lst = []

for _ in range(n):
    a, b = map(int, input("Enter two values: ").split())
    lst.append((a, b))

x, y = zip(*lst)

print("List 1:", list(x))
print("List 2:", list(y))

Enter number of tuples: 4
Enter two values: 20 30
Enter two values: 40 50
Enter two values: 60 70
Enter two values: 80 90
List 1: [20, 40, 60, 80]
List 2: [30, 50, 70, 90]

In [40]:
# Reverse a tuple
t = tuple(map(int, input("Enter tuple elements: ").split()))

rev = t[::-1]
print("Reversed tuple:", rev)

Enter tuple elements: 15 30 45 60
Reversed tuple: (60, 45, 30, 15)

In [42]:
# Convert list of tuples into a dictionary
n = int(input("Enter number of pairs: "))
lst = []

for _ in range(n):
    k = input("Enter key: ")
    v = input("Enter value: ")
    lst.append((k, v))

d = dict(lst)
print("Dictionary:", d)

Enter number of pairs: 3
Enter key: 4
Enter value: 10 20 30 40
Enter key: 3
Enter value: 10 10 10
Enter key: 2
Enter value: 12 45 62
Dictionary: {'4': '10 20 30 40', '3': '10 10 10', '2': '12 45 62'}

In [43]:
# Remove empty tuples from a list
lst = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d',)]

result = [x for x in lst if x]
print("After removing empty tuples:", result)

After removing empty tuples: [('',), ('a', 'b'), ('a', 'b', 'c'), ('d',)]

In [44]:
# Convert given string to a tuple
s = input("Enter string: ")

t = tuple(s)
print("Tuple:", t)

Enter string: python 3.0
Tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')